html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body {
    height: 100vh;
    font-size: 16px;
  }



  body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  :root {

/* color palette */
    --main-bg-color: #F96E2A;
    --main-text-color: #FBF8EF;
    --main-cell-color: #C9E6F0;
    --main-cell-dark: #78B3CE;
    --main-cell-hover: #486ea1;

    --main-disabled-color: #333333;

    /* padding */

    --pd-small: 8px;
    --pd-medium: 16px;
    --pd-large: 24px;
    --pd-huge: 36px


  }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;


}

/* header Section */

.player_display {

  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: var(--pd-large);

  h1 {
    font-size: clamp(3rem, 0.0313rem + 9.5vw, 5.375rem);
    text-align: center;
    font-weight: bolder;
    margin-bottom: var(--pd-large);
    animation: fade 2s forwards;
  }

  .display_turn{
    margin-bottom: var(--pd-small);
    background-color: var(--main-cell-dark);
    max-width: max-content;
    padding: var(--pd-small) var(--pd-large);
    border-radius: 25px;
    font-weight: bolder;
    text-shadow: 0px 0px 5px #333333;
    
  }

  .start , .restart {
    border: none;
    color: var(--main-text-color);
    cursor: pointer;
    background-color: var(--main-cell-color);
    padding: var(--pd-small) var(--pd-large);
    color: var(--main-bg-color);
    border-radius: 25px;
    font-weight: bolder;

  }

  .start:hover, .restart:hover {
    background-color: var(--main-cell-dark);
    color: var(--main-text-color);
  }

  .start:active, .restart:active {
    border: solid 2px var(--main-text-color);
    color: var(--main-cell-color);
    background-color: var(--main-bg-color);
  }

  .start:disabled, .restart:disabled {
    background-color: var(--main-disabled-color);
    color: var(--main-text-color);
    border: none;
  }


  .players {
    display: flex;
    justify-content: center;
    gap: var(--pd-huge);
    text-align: center;

    h2, h3 {
      font-weight: bolder;
    }

    h2 {
      font-size: clamp(1rem, -0.5625rem + 5vw, 2.25rem);
    }

    h3 {
      font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
      margin-bottom: var(--pd-medium);
     
    }

    .player_one_name {
      animation: slideInRight 1s forwards ease;
    }

    .player_two_name {
      animation: slideInLeft 1s forwards ease;
    }
  }
}


/*  Board  */

.board_container {
  grid-row: 2 /3;
  background-color: var(--main-cell-dark);
  padding: var(--pd-large);


  .board {

    max-width: 450px;
    height: 90%;
    gap: var(--pd-medium);
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* class use for animation purpose only */
  .fade {
    opacity: 0;
    animation: fade 500ms forwards;

  }

  /* delay the animation a bit for each cell at start  */

  .fade:nth-child(1){
    animation-delay: 0s;
  }
  .fade:nth-child(2){
    animation-delay: 0.2s;
  }
  .fade:nth-child(3){
    animation-delay: 0.4s;
  }
  .fade:nth-child(4){
    animation-delay: 0.6s;
  }
  .fade:nth-child(5){
    animation-delay: 0.8s;
  }
  .fade:nth-child(6){
    animation-delay: 1s;
  }
  .fade:nth-child(7){ 
    animation-delay: 1.2s;
  }
  .fade:nth-child(8){
    animation-delay: 1.4s;
  }
  .fade:nth-child(9){
    animation-delay: 1.6s;
  }


  .cell {
    min-width: 48px;
    min-height: 48px;
    border-radius: 10px;
    background-color: var(--main-cell-color);
    border: none;
    font-size: 36px;
    font-weight: bolder;

  }

  .cell:hover {
    background-color: var(--main-cell-hover);
  }

  .cell:active {
    background-color: var(--main-bg-color);
  }

  .cell:disabled {
    background-color: var(--main-disabled-color);
    color: var(--main-text-color);
    transition: 500ms;
  }

}

/* Media queries  */

@media (max-width: 500px){
  .board_container {
    .board {
    
      height: 70vw;
    }

  }
  
   
}


/* Animations  */

@keyframes fade {
  from {
    transform: translateY(-50px);
    opacity: 0;

  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes scaleUp {

  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
  
}

@keyframes slideInLeft {
  from {
    transform: translateX(60px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}


@keyframes slideInRight {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
